<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Forgot pin</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>


        <div class="container">

            
            <h2>Enter the details you used to register</h2>
            <form action="/forget" method="POST" role="form">
                {{ form.csrf }}
                <!--this would create a form for the user to input their details-->
                <div class="form-group">
                    <!--input to allow the user to input their details-->
                    <label for="username">Name:</label> <!--this would de-fine the input for the username-->
                    <input type="text" class="form-control" id="username" name="username" placeholder="What's your username?"> 
                    <br>
                    <!--this would define an input for the email.-->
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email you registered with.">
                    <br>
                </div>
                <button type="submit" class="btn btn-success">submit</button>
            </form>

            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

            {% for message in messages %}
            {% if "Error" not in message[1]: %}
            <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
            </div>
            {% endif %}

            {% if "Error" in message[1]: %}
            <div class="alert alert-warning">
                {{ message[1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>
        <br>
        </div>
        </div>
    </body>
</html>

